@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
  background: linear-gradient(#f8f4f4, #eecfc1);
  font-family: 'Poppins', sans-serif;
}

h1 {
  text-align: center;
  color: #2b0a04;
}

form {
  width: 90%;
  max-width: 550px;
  margin: auto;
  background: #FCB3AA;
  padding: 40px;
  border-radius: 10px;
}

label {
  color: #2b0a04;
  margin: 0;
  width: 100%;
  font-size: 18px;
}

label, input, select, textarea {
  display: block;
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
}

.emlinha, .medidas {
  display: inline-block;
  vertical-align: top;
}

input[type='checkbox'], input[type='radio'] {
  margin-right: 0px;
  margin-left: 15px;
}

input:focus, select:focus, textarea:focus {
  outline: none;
  border: solid 1px #2b0a04;
  background-color: #f0e8e6;
}

button {
  width: 100%;
  border: 2px solid #2b0a04;
  background-color: #a81f34;
  color: #edd5d5;
  font-weight: bold;
  cursor: pointer;
  padding: 15px;
}

nav .logo a{
      font-family: 'Poppins', sans-serif;
      text-decoration: none;
      color:  #2b0a04;
      font-size: 35px;
      font-weight: 600;
      margin-left: 5%;
   }
