@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #2b0a04;
   }
   
   body{
      background: linear-gradient(  #f8f4f4, #eecfc1);
   }
   
   label, input, select, textarea{
       display: block ;
       width: 95%;
       padding: 10px;
       margin-bottom: 20px;
   }
   .roboto-thin {
      font-family: 'Poppins', sans-serif;
    }
   
    form{
       width: 550px;
       margin: auto;
       background: #FCB3AA;
       padding: 80px;
       border-radius: 10px;
    }
    label{
      font-family: 'Poppins', sans-serif;
        color: #2b0a04;
       margin: 0;
       width: 100% ;
       font-size: 18px;
    }
    .emlinha{
       display: inline;
       width: 10%;
       font-size: 16px;
    }
    .medidas{
       display: inline;
       width: 35%;
    }
    input[type='checkbox'], input[type='radio']{
      margin-right: 0px;
      margin-left: 15px;
   }
   input:focus, select:focus, textarea:focus{
      outline: none;
      border: solid 1px #17113e;
      background-color: #cdeff7;
   }
    #enviar{
      width: 100%;
      border: 2px solid #2b0a04;
      background-color: #a81f34;
      color: #edd5d5;
      font-weight: bold;
      cursor: pointer;
      padding: 15px;
    }
    #enviar:hover{
      background-color: #fef1f1;
      color: #a81f34;
      transition:all linear 0.3;
    }