@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
            font-family: Arial, sans-serif;
            max-width: 400px;
            margin: 100px auto;
            padding: 20px;
            border: 1px solid #b29f9f;
            border-radius: 8px;
            background-color: #f8f4f4;
        }

        h1 {
            text-align: center;
             font-family: 'Poppins', sans-serif;
            color: #c9083f;
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-top: 10px;
            font-weight: bold;
        }

        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            border-radius: 4px;
            border: 1px solid #d2bfbf;
            box-sizing: border-box;
        }

        button {
            margin-top: 20px;
            width: 100%;
            padding: 10px;
            font-size: 16px;
            background-color: #FCB3AA;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #e28374;
        }

        nav .logo a{
      font-family: 'Poppins', sans-serif;
      text-decoration: none;
      color:  #2b0a04;
      font-size: 35px;
      font-weight: 600;
      margin-left: 5%;
   }