@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #fdf6f0, #fbe0d3);
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.produto-container {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  max-width: 800px;
  width: 100%;
  overflow: hidden;
}

.produto-img {
  flex: 1;
  background: #FCB3AA;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.produto-img img {
  width: 100%;
  max-width: 300px;
  border-radius: 12px;
}

.produto-info {
  flex: 1;
  padding: 30px;
}

.produto-info h1 {
  color: #2b0a04;
  font-size: 28px;
  margin-bottom: 10px;
}

.produto-info p {
  font-size: 16px;
  margin: 10px 0;
  color: #2b0a04;
}

.produto-info .preco {
  color: #2b0a04;
  font-weight: bold;
  font-size: 24px;
  margin: 20px 0;
}

.produto-info button {
  background-color: #a81f34;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.produto-info button:hover {
  background-color: #8e192c;
}