@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #f8f4f4;
    padding: 50px;
}
.container {
    background: #FCB3AA;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}
h1 {
    color: #2b0a04;
}
p {
    color: #333;
}
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    text-decoration: none;
    background: #c9083f;
    color: white;
    border-radius: 5px;
}
.btn:hover {
    background: #c9083f
}